:root {
  --clr-primary-100: hsl(36, 52%, 82%);
  --clr-primary-200: #fff;
  --clr-primary-400: hsl(135, 100%, 12%);
  --clr-neutral-100: #fff;
  --clr-neutral-900: hsl(349, 78%, 11%);

  --ff-primary: "Lora", serif;
}

body {
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-primary-200);
  font-family: var(--ff-primary);
  font-weight: 700;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 4rem 0;
}

@media (min-width: 40em) {
  header,
  section {
    padding: 5rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.split > * {
  flex-basis: 100%;
}

@media (min-width: 40em) {
  .split {
    flex-flow: row;
  }
}

.bg-light {
  background-color: var(--clr-primary-100);
}

.bg-primary {
  background-color: var(--clr-primary-400);
}

.bg-dark {
  background-color: var(--clr-neutral-900);
}
